---
import BaseLayout from '../layouts/BaseLayout.astro'
import ShowcaseTile from '../components/ShowcaseTile.astro'


const experiences = [
  {
    title: 'Telefónica',
    image: '/assets/telefonica.jpeg',
    duration: 'May 2021 - May 2022',
    description: 'Software Engineering Internship',
    details: [
      'AWS architecture training (Cloud Formation, Lambda)',
      'Test automation with Ansible',
      'Development of Nuxt/Express platform for scheduling and viewing Ansible test results (interactive platform similar to Splunk)'
    ]
  },
  {
    title: 'Flint.gg',
    image: '/assets/flintgg.png',
    duration: 'June 2020 - August 2020',
    description: 'FullStack Developer, Freelance',
    details: [
      'Frontend development using Nuxt/Vue frameworks and Typescript',
      'Backend development with Node/Express.js',
      'Implemented custom image rendering on the Backend for downloads',
      'Integration of APIs of several video-games: Fortnite, Counter-Strike, League of Legends'
    ]
  },
  {
    title: 'Xtreme.ai',
    image: '/assets/xtremeai.png',
    duration: 'November 2020 - April 2021',
    description: 'Software Engineering Internship',
    details: [
      'Front-end development of a platform for Glovo, used in digitalizing restaurant menus and serving to Glovo API endpoints',
      'FullStack development (Vue.js/Django) of tool for digitalizing restaurant menus utilizing recognition of text from images (OCR/OpenCV)',
      'Integration and evaluation of metrics composed with Python (Pandas, Keras, PyTorch) and served to be visualized in Metabase'
    ]
  },
  {
    title: 'MUBiNT',
    image: '/assets/mubint.svg',
    duration: 'July 2016 - August 2016',
    description: 'Systems Administration Internship',
    details: [
      'Resolution of problems and maintenance of the telecommunications network of the firm',
      'Maintenance and updates/upgrades of the IT infrastructure',
      'Experience with the Bitrix 1C system'
    ]
  }
]
---

<BaseLayout>
  <div class="flex-grow p-20">
    <p class="text-center font-bold text-4xl mb-24">My Experience</p>
    <div class="grid grid-cols-2 content-center justify-items-center gap-24 ">
      {experiences.map(experience => (
        <ShowcaseTile 
          title={experience.title} 
          image={experience.image} 
          duration={experience.duration} 
          description={experience.description} 
          details={experience.details} 
        />
      ))}
    </div>
  </div>
</BaseLayout>